@font-face {
	font-family: "HandDrawn-Icons";
	src: url('./app/assets/fonts/HandDrawn-Icons.eot');
	src: url('./app/assets/fonts/HandDrawn-Icons.eot?#iefix') format('eot'),
		url('./app/assets/fonts/HandDrawn-Icons.woff') format('woff'),
		url('./app/assets/fonts/HandDrawn-Icons.ttf') format('truetype'),
		url('./app/assets/fonts/HandDrawn-Icons.svg#HandDrawn-Icons') format('svg');
}

%icon {
	font-family: "HandDrawn-Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == abacus {
		$char: "\E001";
	}
	@if $filename == address-book-alt {
		$char: "\E002";
	}
	@if $filename == address-book {
		$char: "\E003";
	}
	@if $filename == airplane {
		$char: "\E004";
	}
	@if $filename == alert {
		$char: "\E005";
	}
	@if $filename == alien {
		$char: "\E006";
	}
	@if $filename == analytics {
		$char: "\E007";
	}
	@if $filename == anchor {
		$char: "\E008";
	}
	@if $filename == android {
		$char: "\E009";
	}
	@if $filename == apple {
		$char: "\E00A";
	}
	@if $filename == archive {
		$char: "\E00B";
	}
	@if $filename == arroba {
		$char: "\E00C";
	}
	@if $filename == arrow-down {
		$char: "\E00D";
	}
	@if $filename == arrow-left {
		$char: "\E00E";
	}
	@if $filename == arrow-right {
		$char: "\E00F";
	}
	@if $filename == arrow-top {
		$char: "\E010";
	}
	@if $filename == arrow-up-down {
		$char: "\E011";
	}
	@if $filename == arrow-up {
		$char: "\E012";
	}
	@if $filename == atom {
		$char: "\E013";
	}
	@if $filename == back {
		$char: "\E014";
	}
	@if $filename == badge-alert {
		$char: "\E015";
	}
	@if $filename == badge-free {
		$char: "\E016";
	}
	@if $filename == badge-new {
		$char: "\E017";
	}
	@if $filename == badge-sale {
		$char: "\E018";
	}
	@if $filename == balloon {
		$char: "\E019";
	}
	@if $filename == barcode {
		$char: "\E01A";
	}
	@if $filename == battery-0 {
		$char: "\E01B";
	}
	@if $filename == battery-1 {
		$char: "\E01C";
	}
	@if $filename == battery-2 {
		$char: "\E01D";
	}
	@if $filename == battery-3 {
		$char: "\E01E";
	}
	@if $filename == beer {
		$char: "\E01F";
	}
	@if $filename == behance {
		$char: "\E020";
	}
	@if $filename == bell {
		$char: "\E021";
	}
	@if $filename == bike {
		$char: "\E022";
	}
	@if $filename == bomb {
		$char: "\E023";
	}
	@if $filename == book {
		$char: "\E024";
	}
	@if $filename == bookmark {
		$char: "\E025";
	}
	@if $filename == bookmarks-alt {
		$char: "\E026";
	}
	@if $filename == bookmarks {
		$char: "\E027";
	}
	@if $filename == bow-arrow {
		$char: "\E028";
	}
	@if $filename == box-down {
		$char: "\E029";
	}
	@if $filename == box-up {
		$char: "\E02A";
	}
	@if $filename == briefcase {
		$char: "\E02B";
	}
	@if $filename == brightness {
		$char: "\E02C";
	}
	@if $filename == brush {
		$char: "\E02D";
	}
	@if $filename == bug {
		$char: "\E02E";
	}
	@if $filename == button-down {
		$char: "\E02F";
	}
	@if $filename == button-left {
		$char: "\E030";
	}
	@if $filename == button-right {
		$char: "\E031";
	}
	@if $filename == button-up {
		$char: "\E032";
	}
	@if $filename == calculator {
		$char: "\E033";
	}
	@if $filename == calendar {
		$char: "\E034";
	}
	@if $filename == camera {
		$char: "\E035";
	}
	@if $filename == chat-alt {
		$char: "\E036";
	}
	@if $filename == chat {
		$char: "\E037";
	}
	@if $filename == checkmark {
		$char: "\E038";
	}
	@if $filename == chevron-down {
		$char: "\E039";
	}
	@if $filename == chevron-left {
		$char: "\E03A";
	}
	@if $filename == chevron-right {
		$char: "\E03B";
	}
	@if $filename == chevron-up {
		$char: "\E03C";
	}
	@if $filename == circle-cancel {
		$char: "\E03D";
	}
	@if $filename == circle-minus {
		$char: "\E03E";
	}
	@if $filename == circle-plus {
		$char: "\E03F";
	}
	@if $filename == circle {
		$char: "\E040";
	}
	@if $filename == clip {
		$char: "\E041";
	}
	@if $filename == clipboard-cancel {
		$char: "\E042";
	}
	@if $filename == clipboard-check {
		$char: "\E043";
	}
	@if $filename == clipboard {
		$char: "\E044";
	}
	@if $filename == clock {
		$char: "\E045";
	}
	@if $filename == cloud-alt {
		$char: "\E046";
	}
	@if $filename == cloud-cancel {
		$char: "\E047";
	}
	@if $filename == cloud-lightning {
		$char: "\E048";
	}
	@if $filename == cloud-sync {
		$char: "\E049";
	}
	@if $filename == cloud-upload {
		$char: "\E04A";
	}
	@if $filename == cloud {
		$char: "\E04B";
	}
	@if $filename == code-alt {
		$char: "\E04C";
	}
	@if $filename == code {
		$char: "\E04D";
	}
	@if $filename == coffee-cup {
		$char: "\E04E";
	}
	@if $filename == coffee-mug {
		$char: "\E04F";
	}
	@if $filename == cog {
		$char: "\E050";
	}
	@if $filename == cogs {
		$char: "\E051";
	}
	@if $filename == coins {
		$char: "\E052";
	}
	@if $filename == compass {
		$char: "\E053";
	}
	@if $filename == cone {
		$char: "\E054";
	}
	@if $filename == connection-alt {
		$char: "\E055";
	}
	@if $filename == connection-alt2 {
		$char: "\E056";
	}
	@if $filename == connection-alt3 {
		$char: "\E057";
	}
	@if $filename == connection {
		$char: "\E058";
	}
	@if $filename == contrast {
		$char: "\E059";
	}
	@if $filename == control-eject {
		$char: "\E05A";
	}
	@if $filename == control-next {
		$char: "\E05B";
	}
	@if $filename == control-pause {
		$char: "\E05C";
	}
	@if $filename == control-play {
		$char: "\E05D";
	}
	@if $filename == control-prev {
		$char: "\E05E";
	}
	@if $filename == crosshairs {
		$char: "\E05F";
	}
	@if $filename == crown {
		$char: "\E060";
	}
	@if $filename == cupcake {
		$char: "\E061";
	}
	@if $filename == cupid {
		$char: "\E062";
	}
	@if $filename == cutlery {
		$char: "\E063";
	}
	@if $filename == dashboard {
		$char: "\E064";
	}
	@if $filename == database {
		$char: "\E065";
	}
	@if $filename == day {
		$char: "\E066";
	}
	@if $filename == delete-arrow {
		$char: "\E067";
	}
	@if $filename == delete {
		$char: "\E068";
	}
	@if $filename == delicious {
		$char: "\E069";
	}
	@if $filename == diamond {
		$char: "\E06A";
	}
	@if $filename == directions-sign {
		$char: "\E06B";
	}
	@if $filename == dna {
		$char: "\E06C";
	}
	@if $filename == drawer {
		$char: "\E06D";
	}
	@if $filename == dribbble {
		$char: "\E06E";
	}
	@if $filename == drive-download {
		$char: "\E06F";
	}
	@if $filename == drive {
		$char: "\E070";
	}
	@if $filename == dropper {
		$char: "\E071";
	}
	@if $filename == edit {
		$char: "\E072";
	}
	@if $filename == electricty {
		$char: "\E073";
	}
	@if $filename == expand-alt {
		$char: "\E074";
	}
	@if $filename == expand {
		$char: "\E075";
	}
	@if $filename == eye {
		$char: "\E076";
	}
	@if $filename == facebook {
		$char: "\E077";
	}
	@if $filename == factory {
		$char: "\E078";
	}
	@if $filename == feather {
		$char: "\E079";
	}
	@if $filename == female {
		$char: "\E07A";
	}
	@if $filename == file-ai {
		$char: "\E07B";
	}
	@if $filename == file-css {
		$char: "\E07C";
	}
	@if $filename == file-doc {
		$char: "\E07D";
	}
	@if $filename == file-download {
		$char: "\E07E";
	}
	@if $filename == file-edit {
		$char: "\E07F";
	}
	@if $filename == file-eps {
		$char: "\E080";
	}
	@if $filename == file-gif {
		$char: "\E081";
	}
	@if $filename == file-html {
		$char: "\E082";
	}
	@if $filename == file-jpg {
		$char: "\E083";
	}
	@if $filename == file-js {
		$char: "\E084";
	}
	@if $filename == file-list-alt {
		$char: "\E085";
	}
	@if $filename == file-list {
		$char: "\E086";
	}
	@if $filename == file-minus {
		$char: "\E087";
	}
	@if $filename == file-next {
		$char: "\E088";
	}
	@if $filename == file-paper {
		$char: "\E089";
	}
	@if $filename == file-pdf {
		$char: "\E08A";
	}
	@if $filename == file-php {
		$char: "\E08B";
	}
	@if $filename == file-plus {
		$char: "\E08C";
	}
	@if $filename == file-png {
		$char: "\E08D";
	}
	@if $filename == file-psd {
		$char: "\E08E";
	}
	@if $filename == file-upload {
		$char: "\E08F";
	}
	@if $filename == file-xls {
		$char: "\E090";
	}
	@if $filename == file-zip {
		$char: "\E091";
	}
	@if $filename == files {
		$char: "\E092";
	}
	@if $filename == film-play {
		$char: "\E093";
	}
	@if $filename == film {
		$char: "\E094";
	}
	@if $filename == fire {
		$char: "\E095";
	}
	@if $filename == flag {
		$char: "\E096";
	}
	@if $filename == flashlight {
		$char: "\E097";
	}
	@if $filename == flask {
		$char: "\E098";
	}
	@if $filename == flower {
		$char: "\E099";
	}
	@if $filename == folder-add {
		$char: "\E09A";
	}
	@if $filename == folder-delete {
		$char: "\E09B";
	}
	@if $filename == folder-minus {
		$char: "\E09C";
	}
	@if $filename == folder-private {
		$char: "\E09D";
	}
	@if $filename == fonts {
		$char: "\E09E";
	}
	@if $filename == football {
		$char: "\E09F";
	}
	@if $filename == forward-all {
		$char: "\E0A0";
	}
	@if $filename == forward {
		$char: "\E0A1";
	}
	@if $filename == foursquare {
		$char: "\E0A2";
	}
	@if $filename == funnel {
		$char: "\E0A3";
	}
	@if $filename == gallery {
		$char: "\E0A4";
	}
	@if $filename == game-controller {
		$char: "\E0A5";
	}
	@if $filename == gift {
		$char: "\E0A6";
	}
	@if $filename == github {
		$char: "\E0A7";
	}
	@if $filename == gplus {
		$char: "\E0A8";
	}
	@if $filename == graduate {
		$char: "\E0A9";
	}
	@if $filename == graph-bar-down {
		$char: "\E0AA";
	}
	@if $filename == graph-bar-up {
		$char: "\E0AB";
	}
	@if $filename == graph-bar {
		$char: "\E0AC";
	}
	@if $filename == graph-line-alt {
		$char: "\E0AD";
	}
	@if $filename == graph-line {
		$char: "\E0AE";
	}
	@if $filename == graph-pie {
		$char: "\E0AF";
	}
	@if $filename == grid-alt {
		$char: "\E0B0";
	}
	@if $filename == grid {
		$char: "\E0B1";
	}
	@if $filename == gym {
		$char: "\E0B2";
	}
	@if $filename == headphones {
		$char: "\E0B3";
	}
	@if $filename == heart {
		$char: "\E0B4";
	}
	@if $filename == horseshoe {
		$char: "\E0B5";
	}
	@if $filename == hot-dog {
		$char: "\E0B6";
	}
	@if $filename == hourglass {
		$char: "\E0B7";
	}
	@if $filename == house {
		$char: "\E0B8";
	}
	@if $filename == icecream {
		$char: "\E0B9";
	}
	@if $filename == id {
		$char: "\E0BA";
	}
	@if $filename == inbox-alt {
		$char: "\E0BB";
	}
	@if $filename == inbox {
		$char: "\E0BC";
	}
	@if $filename == infinite {
		$char: "\E0BD";
	}
	@if $filename == information-alt {
		$char: "\E0BE";
	}
	@if $filename == information {
		$char: "\E0BF";
	}
	@if $filename == instagram {
		$char: "\E0C0";
	}
	@if $filename == key {
		$char: "\E0C1";
	}
	@if $filename == keyboard {
		$char: "\E0C2";
	}
	@if $filename == leaf {
		$char: "\E0C3";
	}
	@if $filename == lifesaver {
		$char: "\E0C4";
	}
	@if $filename == lightbulb {
		$char: "\E0C5";
	}
	@if $filename == lightning-bolt {
		$char: "\E0C6";
	}
	@if $filename == line-back {
		$char: "\E0C7";
	}
	@if $filename == link-alt {
		$char: "\E0C8";
	}
	@if $filename == link {
		$char: "\E0C9";
	}
	@if $filename == linkedin {
		$char: "\E0CA";
	}
	@if $filename == list-add {
		$char: "\E0CB";
	}
	@if $filename == list-menu {
		$char: "\E0CC";
	}
	@if $filename == list {
		$char: "\E0CD";
	}
	@if $filename == lock {
		$char: "\E0CE";
	}
	@if $filename == login {
		$char: "\E0CF";
	}
	@if $filename == logout {
		$char: "\E0D0";
	}
	@if $filename == love-alt {
		$char: "\E0D1";
	}
	@if $filename == love {
		$char: "\E0D2";
	}
	@if $filename == magic-wand {
		$char: "\E0D3";
	}
	@if $filename == magnet {
		$char: "\E0D4";
	}
	@if $filename == mail {
		$char: "\E0D5";
	}
	@if $filename == male {
		$char: "\E0D6";
	}
	@if $filename == man {
		$char: "\E0D7";
	}
	@if $filename == map location {
		$char: "\E0D8";
	}
	@if $filename == map-pin {
		$char: "\E0D9";
	}
	@if $filename == map {
		$char: "\E0DA";
	}
	@if $filename == megaphone {
		$char: "\E0DB";
	}
	@if $filename == menu {
		$char: "\E0DC";
	}
	@if $filename == microphone {
		$char: "\E0DD";
	}
	@if $filename == microscope {
		$char: "\E0DE";
	}
	@if $filename == minus {
		$char: "\E0DF";
	}
	@if $filename == money-bag {
		$char: "\E0E0";
	}
	@if $filename == money-dollar {
		$char: "\E0E1";
	}
	@if $filename == money-euro {
		$char: "\E0E2";
	}
	@if $filename == money-pound {
		$char: "\E0E3";
	}
	@if $filename == money {
		$char: "\E0E4";
	}
	@if $filename == monies {
		$char: "\E0E5";
	}
	@if $filename == monitoring {
		$char: "\E0E6";
	}
	@if $filename == moon {
		$char: "\E0E7";
	}
	@if $filename == mouse {
		$char: "\E0E8";
	}
	@if $filename == mug {
		$char: "\E0E9";
	}
	@if $filename == music-alt {
		$char: "\E0EA";
	}
	@if $filename == music {
		$char: "\E0EB";
	}
	@if $filename == mustache-glasses {
		$char: "\E0EC";
	}
	@if $filename == navigate {
		$char: "\E0ED";
	}
	@if $filename == no-sign {
		$char: "\E0EE";
	}
	@if $filename == no-sound {
		$char: "\E0EF";
	}
	@if $filename == notebook {
		$char: "\E0F0";
	}
	@if $filename == old-man {
		$char: "\E0F1";
	}
	@if $filename == open-sign {
		$char: "\E0F2";
	}
	@if $filename == outbox {
		$char: "\E0F3";
	}
	@if $filename == paint {
		$char: "\E0F4";
	}
	@if $filename == palm {
		$char: "\E0F5";
	}
	@if $filename == paper-layout {
		$char: "\E0F6";
	}
	@if $filename == paper-lines {
		$char: "\E0F7";
	}
	@if $filename == paper-plane {
		$char: "\E0F8";
	}
	@if $filename == paper-tray {
		$char: "\E0F9";
	}
	@if $filename == paper {
		$char: "\E0FA";
	}
	@if $filename == paragraph {
		$char: "\E0FB";
	}
	@if $filename == pen {
		$char: "\E0FC";
	}
	@if $filename == pencil {
		$char: "\E0FD";
	}
	@if $filename == phone {
		$char: "\E0FE";
	}
	@if $filename == phone2 {
		$char: "\E0FF";
	}
	@if $filename == picture-frame {
		$char: "\E100";
	}
	@if $filename == picture {
		$char: "\E101";
	}
	@if $filename == pin {
		$char: "\E102";
	}
	@if $filename == pinterest {
		$char: "\E103";
	}
	@if $filename == pipe {
		$char: "\E104";
	}
	@if $filename == plug {
		$char: "\E105";
	}
	@if $filename == plus {
		$char: "\E106";
	}
	@if $filename == podium {
		$char: "\E107";
	}
	@if $filename == power {
		$char: "\E108";
	}
	@if $filename == printer {
		$char: "\E109";
	}
	@if $filename == protractor {
		$char: "\E10A";
	}
	@if $filename == question-alt {
		$char: "\E10B";
	}
	@if $filename == question {
		$char: "\E10C";
	}
	@if $filename == radiation {
		$char: "\E10D";
	}
	@if $filename == radio {
		$char: "\E10E";
	}
	@if $filename == rain {
		$char: "\E10F";
	}
	@if $filename == record {
		$char: "\E110";
	}
	@if $filename == refresh-alt {
		$char: "\E111";
	}
	@if $filename == refresh-alt2 {
		$char: "\E112";
	}
	@if $filename == refresh {
		$char: "\E113";
	}
	@if $filename == reply-all {
		$char: "\E114";
	}
	@if $filename == reply {
		$char: "\E115";
	}
	@if $filename == return {
		$char: "\E116";
	}
	@if $filename == reverse {
		$char: "\E117";
	}
	@if $filename == ribbon {
		$char: "\E118";
	}
	@if $filename == right-triangle {
		$char: "\E119";
	}
	@if $filename == robot {
		$char: "\E11A";
	}
	@if $filename == rocket {
		$char: "\E11B";
	}
	@if $filename == rss {
		$char: "\E11C";
	}
	@if $filename == sad {
		$char: "\E11D";
	}
	@if $filename == save {
		$char: "\E11E";
	}
	@if $filename == scales {
		$char: "\E11F";
	}
	@if $filename == screen {
		$char: "\E120";
	}
	@if $filename == search {
		$char: "\E121";
	}
	@if $filename == settings {
		$char: "\E122";
	}
	@if $filename == settings2 {
		$char: "\E123";
	}
	@if $filename == share-alt {
		$char: "\E124";
	}
	@if $filename == share {
		$char: "\E125";
	}
	@if $filename == sherrif {
		$char: "\E126";
	}
	@if $filename == shoe {
		$char: "\E127";
	}
	@if $filename == shopping-bag {
		$char: "\E128";
	}
	@if $filename == shopping-cart {
		$char: "\E129";
	}
	@if $filename == shrink-alt {
		$char: "\E12A";
	}
	@if $filename == shrink {
		$char: "\E12B";
	}
	@if $filename == shuffle {
		$char: "\E12C";
	}
	@if $filename == sicssors {
		$char: "\E12D";
	}
	@if $filename == sign {
		$char: "\E12E";
	}
	@if $filename == signal {
		$char: "\E12F";
	}
	@if $filename == skull {
		$char: "\E130";
	}
	@if $filename == skype {
		$char: "\E131";
	}
	@if $filename == smile {
		$char: "\E132";
	}
	@if $filename == snowflake {
		$char: "\E133";
	}
	@if $filename == soccer {
		$char: "\E134";
	}
	@if $filename == soda {
		$char: "\E135";
	}
	@if $filename == sound-0 {
		$char: "\E136";
	}
	@if $filename == sound-1 {
		$char: "\E137";
	}
	@if $filename == sound-2 {
		$char: "\E138";
	}
	@if $filename == sound-3 {
		$char: "\E139";
	}
	@if $filename == speedometer {
		$char: "\E13A";
	}
	@if $filename == square-add {
		$char: "\E13B";
	}
	@if $filename == square-cancel {
		$char: "\E13C";
	}
	@if $filename == square-minus {
		$char: "\E13D";
	}
	@if $filename == square {
		$char: "\E13E";
	}
	@if $filename == star-alt {
		$char: "\E13F";
	}
	@if $filename == star-medal {
		$char: "\E140";
	}
	@if $filename == star {
		$char: "\E141";
	}
	@if $filename == status {
		$char: "\E142";
	}
	@if $filename == stereo {
		$char: "\E143";
	}
	@if $filename == strategy {
		$char: "\E144";
	}
	@if $filename == suitcase-add {
		$char: "\E145";
	}
	@if $filename == suitcase-cancel {
		$char: "\E146";
	}
	@if $filename == suitcase {
		$char: "\E147";
	}
	@if $filename == sun {
		$char: "\E148";
	}
	@if $filename == syringe {
		$char: "\E149";
	}
	@if $filename == tablet {
		$char: "\E14A";
	}
	@if $filename == tag-price {
		$char: "\E14B";
	}
	@if $filename == tag-sale {
		$char: "\E14C";
	}
	@if $filename == task-checked {
		$char: "\E14D";
	}
	@if $filename == terminal {
		$char: "\E14E";
	}
	@if $filename == termometer {
		$char: "\E14F";
	}
	@if $filename == thumb-down {
		$char: "\E150";
	}
	@if $filename == thumb-up {
		$char: "\E151";
	}
	@if $filename == ticket {
		$char: "\E152";
	}
	@if $filename == time-machine {
		$char: "\E153";
	}
	@if $filename == tool {
		$char: "\E154";
	}
	@if $filename == tool2 {
		$char: "\E155";
	}
	@if $filename == tools-alt {
		$char: "\E156";
	}
	@if $filename == tools {
		$char: "\E157";
	}
	@if $filename == trash-can {
		$char: "\E158";
	}
	@if $filename == trashcan {
		$char: "\E159";
	}
	@if $filename == tray {
		$char: "\E15A";
	}
	@if $filename == tree-alt {
		$char: "\E15B";
	}
	@if $filename == tree {
		$char: "\E15C";
	}
	@if $filename == triangle-down {
		$char: "\E15D";
	}
	@if $filename == triangle-left {
		$char: "\E15E";
	}
	@if $filename == triangle-right {
		$char: "\E15F";
	}
	@if $filename == triangle-up-down {
		$char: "\E160";
	}
	@if $filename == triangle-up {
		$char: "\E161";
	}
	@if $filename == trophy {
		$char: "\E162";
	}
	@if $filename == truck {
		$char: "\E163";
	}
	@if $filename == trumpet {
		$char: "\E164";
	}
	@if $filename == turkey-leg {
		$char: "\E165";
	}
	@if $filename == turkey {
		$char: "\E166";
	}
	@if $filename == tv {
		$char: "\E167";
	}
	@if $filename == twitter {
		$char: "\E168";
	}
	@if $filename == two-way {
		$char: "\E169";
	}
	@if $filename == umbrella {
		$char: "\E16A";
	}
	@if $filename == union {
		$char: "\E16B";
	}
	@if $filename == unlock {
		$char: "\E16C";
	}
	@if $filename == upload {
		$char: "\E16D";
	}
	@if $filename == user-add {
		$char: "\E16E";
	}
	@if $filename == user-avatar {
		$char: "\E16F";
	}
	@if $filename == user-book {
		$char: "\E170";
	}
	@if $filename == user-business {
		$char: "\E171";
	}
	@if $filename == user-delete {
		$char: "\E172";
	}
	@if $filename == user-favorite {
		$char: "\E173";
	}
	@if $filename == user-head-attention {
		$char: "\E174";
	}
	@if $filename == user-head-idea {
		$char: "\E175";
	}
	@if $filename == user-head-question {
		$char: "\E176";
	}
	@if $filename == user-head {
		$char: "\E177";
	}
	@if $filename == user-list {
		$char: "\E178";
	}
	@if $filename == user-next {
		$char: "\E179";
	}
	@if $filename == users {
		$char: "\E17A";
	}
	@if $filename == vector {
		$char: "\E17B";
	}
	@if $filename == video {
		$char: "\E17C";
	}
	@if $filename == vimeo {
		$char: "\E17D";
	}
	@if $filename == water-drops {
		$char: "\E17E";
	}
	@if $filename == water {
		$char: "\E17F";
	}
	@if $filename == web-cam {
		$char: "\E180";
	}
	@if $filename == wifi-alt {
		$char: "\E181";
	}
	@if $filename == wifi {
		$char: "\E182";
	}
	@if $filename == window-alt {
		$char: "\E183";
	}
	@if $filename == window {
		$char: "\E184";
	}
	@if $filename == windows {
		$char: "\E185";
	}
	@if $filename == wine {
		$char: "\E186";
	}
	@if $filename == woman {
		$char: "\E187";
	}
	@if $filename == world {
		$char: "\E188";
	}
	@if $filename == yen {
		$char: "\E189";
	}
	@if $filename == yinyan {
		$char: "\E18A";
	}
	@if $filename == zoom-in {
		$char: "\E18B";
	}
	@if $filename == zoom-out {
		$char: "\E18C";
	}

	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		@extend %icon;
		content: icon-char($filename);
	}
}

.icon-abacus {
	@include icon(abacus);
}
.icon-address-book-alt {
	@include icon(address-book-alt);
}
.icon-address-book {
	@include icon(address-book);
}
.icon-airplane {
	@include icon(airplane);
}
.icon-alert {
	@include icon(alert);
}
.icon-alien {
	@include icon(alien);
}
.icon-analytics {
	@include icon(analytics);
}
.icon-anchor {
	@include icon(anchor);
}
.icon-android {
	@include icon(android);
}
.icon-apple {
	@include icon(apple);
}
.icon-archive {
	@include icon(archive);
}
.icon-arroba {
	@include icon(arroba);
}
.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-arrow-left {
	@include icon(arrow-left);
}
.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-arrow-top {
	@include icon(arrow-top);
}
.icon-arrow-up-down {
	@include icon(arrow-up-down);
}
.icon-arrow-up {
	@include icon(arrow-up);
}
.icon-atom {
	@include icon(atom);
}
.icon-back {
	@include icon(back);
}
.icon-badge-alert {
	@include icon(badge-alert);
}
.icon-badge-free {
	@include icon(badge-free);
}
.icon-badge-new {
	@include icon(badge-new);
}
.icon-badge-sale {
	@include icon(badge-sale);
}
.icon-balloon {
	@include icon(balloon);
}
.icon-barcode {
	@include icon(barcode);
}
.icon-battery-0 {
	@include icon(battery-0);
}
.icon-battery-1 {
	@include icon(battery-1);
}
.icon-battery-2 {
	@include icon(battery-2);
}
.icon-battery-3 {
	@include icon(battery-3);
}
.icon-beer {
	@include icon(beer);
}
.icon-behance {
	@include icon(behance);
}
.icon-bell {
	@include icon(bell);
}
.icon-bike {
	@include icon(bike);
}
.icon-bomb {
	@include icon(bomb);
}
.icon-book {
	@include icon(book);
}
.icon-bookmark {
	@include icon(bookmark);
}
.icon-bookmarks-alt {
	@include icon(bookmarks-alt);
}
.icon-bookmarks {
	@include icon(bookmarks);
}
.icon-bow-arrow {
	@include icon(bow-arrow);
}
.icon-box-down {
	@include icon(box-down);
}
.icon-box-up {
	@include icon(box-up);
}
.icon-briefcase {
	@include icon(briefcase);
}
.icon-brightness {
	@include icon(brightness);
}
.icon-brush {
	@include icon(brush);
}
.icon-bug {
	@include icon(bug);
}
.icon-button-down {
	@include icon(button-down);
}
.icon-button-left {
	@include icon(button-left);
}
.icon-button-right {
	@include icon(button-right);
}
.icon-button-up {
	@include icon(button-up);
}
.icon-calculator {
	@include icon(calculator);
}
.icon-calendar {
	@include icon(calendar);
}
.icon-camera {
	@include icon(camera);
}
.icon-chat-alt {
	@include icon(chat-alt);
}
.icon-chat {
	@include icon(chat);
}
.icon-checkmark {
	@include icon(checkmark);
}
.icon-chevron-down {
	@include icon(chevron-down);
}
.icon-chevron-left {
	@include icon(chevron-left);
}
.icon-chevron-right {
	@include icon(chevron-right);
}
.icon-chevron-up {
	@include icon(chevron-up);
}
.icon-circle-cancel {
	@include icon(circle-cancel);
}
.icon-circle-minus {
	@include icon(circle-minus);
}
.icon-circle-plus {
	@include icon(circle-plus);
}
.icon-circle {
	@include icon(circle);
}
.icon-clip {
	@include icon(clip);
}
.icon-clipboard-cancel {
	@include icon(clipboard-cancel);
}
.icon-clipboard-check {
	@include icon(clipboard-check);
}
.icon-clipboard {
	@include icon(clipboard);
}
.icon-clock {
	@include icon(clock);
}
.icon-cloud-alt {
	@include icon(cloud-alt);
}
.icon-cloud-cancel {
	@include icon(cloud-cancel);
}
.icon-cloud-lightning {
	@include icon(cloud-lightning);
}
.icon-cloud-sync {
	@include icon(cloud-sync);
}
.icon-cloud-upload {
	@include icon(cloud-upload);
}
.icon-cloud {
	@include icon(cloud);
}
.icon-code-alt {
	@include icon(code-alt);
}
.icon-code {
	@include icon(code);
}
.icon-coffee-cup {
	@include icon(coffee-cup);
}
.icon-coffee-mug {
	@include icon(coffee-mug);
}
.icon-cog {
	@include icon(cog);
}
.icon-cogs {
	@include icon(cogs);
}
.icon-coins {
	@include icon(coins);
}
.icon-compass {
	@include icon(compass);
}
.icon-cone {
	@include icon(cone);
}
.icon-connection-alt {
	@include icon(connection-alt);
}
.icon-connection-alt2 {
	@include icon(connection-alt2);
}
.icon-connection-alt3 {
	@include icon(connection-alt3);
}
.icon-connection {
	@include icon(connection);
}
.icon-contrast {
	@include icon(contrast);
}
.icon-control-eject {
	@include icon(control-eject);
}
.icon-control-next {
	@include icon(control-next);
}
.icon-control-pause {
	@include icon(control-pause);
}
.icon-control-play {
	@include icon(control-play);
}
.icon-control-prev {
	@include icon(control-prev);
}
.icon-crosshairs {
	@include icon(crosshairs);
}
.icon-crown {
	@include icon(crown);
}
.icon-cupcake {
	@include icon(cupcake);
}
.icon-cupid {
	@include icon(cupid);
}
.icon-cutlery {
	@include icon(cutlery);
}
.icon-dashboard {
	@include icon(dashboard);
}
.icon-database {
	@include icon(database);
}
.icon-day {
	@include icon(day);
}
.icon-delete-arrow {
	@include icon(delete-arrow);
}
.icon-delete {
	@include icon(delete);
}
.icon-delicious {
	@include icon(delicious);
}
.icon-diamond {
	@include icon(diamond);
}
.icon-directions-sign {
	@include icon(directions-sign);
}
.icon-dna {
	@include icon(dna);
}
.icon-drawer {
	@include icon(drawer);
}
.icon-dribbble {
	@include icon(dribbble);
}
.icon-drive-download {
	@include icon(drive-download);
}
.icon-drive {
	@include icon(drive);
}
.icon-dropper {
	@include icon(dropper);
}
.icon-edit {
	@include icon(edit);
}
.icon-electricty {
	@include icon(electricty);
}
.icon-expand-alt {
	@include icon(expand-alt);
}
.icon-expand {
	@include icon(expand);
}
.icon-eye {
	@include icon(eye);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-factory {
	@include icon(factory);
}
.icon-feather {
	@include icon(feather);
}
.icon-female {
	@include icon(female);
}
.icon-file-ai {
	@include icon(file-ai);
}
.icon-file-css {
	@include icon(file-css);
}
.icon-file-doc {
	@include icon(file-doc);
}
.icon-file-download {
	@include icon(file-download);
}
.icon-file-edit {
	@include icon(file-edit);
}
.icon-file-eps {
	@include icon(file-eps);
}
.icon-file-gif {
	@include icon(file-gif);
}
.icon-file-html {
	@include icon(file-html);
}
.icon-file-jpg {
	@include icon(file-jpg);
}
.icon-file-js {
	@include icon(file-js);
}
.icon-file-list-alt {
	@include icon(file-list-alt);
}
.icon-file-list {
	@include icon(file-list);
}
.icon-file-minus {
	@include icon(file-minus);
}
.icon-file-next {
	@include icon(file-next);
}
.icon-file-paper {
	@include icon(file-paper);
}
.icon-file-pdf {
	@include icon(file-pdf);
}
.icon-file-php {
	@include icon(file-php);
}
.icon-file-plus {
	@include icon(file-plus);
}
.icon-file-png {
	@include icon(file-png);
}
.icon-file-psd {
	@include icon(file-psd);
}
.icon-file-upload {
	@include icon(file-upload);
}
.icon-file-xls {
	@include icon(file-xls);
}
.icon-file-zip {
	@include icon(file-zip);
}
.icon-files {
	@include icon(files);
}
.icon-film-play {
	@include icon(film-play);
}
.icon-film {
	@include icon(film);
}
.icon-fire {
	@include icon(fire);
}
.icon-flag {
	@include icon(flag);
}
.icon-flashlight {
	@include icon(flashlight);
}
.icon-flask {
	@include icon(flask);
}
.icon-flower {
	@include icon(flower);
}
.icon-folder-add {
	@include icon(folder-add);
}
.icon-folder-delete {
	@include icon(folder-delete);
}
.icon-folder-minus {
	@include icon(folder-minus);
}
.icon-folder-private {
	@include icon(folder-private);
}
.icon-fonts {
	@include icon(fonts);
}
.icon-football {
	@include icon(football);
}
.icon-forward-all {
	@include icon(forward-all);
}
.icon-forward {
	@include icon(forward);
}
.icon-foursquare {
	@include icon(foursquare);
}
.icon-funnel {
	@include icon(funnel);
}
.icon-gallery {
	@include icon(gallery);
}
.icon-game-controller {
	@include icon(game-controller);
}
.icon-gift {
	@include icon(gift);
}
.icon-github {
	@include icon(github);
}
.icon-gplus {
	@include icon(gplus);
}
.icon-graduate {
	@include icon(graduate);
}
.icon-graph-bar-down {
	@include icon(graph-bar-down);
}
.icon-graph-bar-up {
	@include icon(graph-bar-up);
}
.icon-graph-bar {
	@include icon(graph-bar);
}
.icon-graph-line-alt {
	@include icon(graph-line-alt);
}
.icon-graph-line {
	@include icon(graph-line);
}
.icon-graph-pie {
	@include icon(graph-pie);
}
.icon-grid-alt {
	@include icon(grid-alt);
}
.icon-grid {
	@include icon(grid);
}
.icon-gym {
	@include icon(gym);
}
.icon-headphones {
	@include icon(headphones);
}
.icon-heart {
	@include icon(heart);
}
.icon-horseshoe {
	@include icon(horseshoe);
}
.icon-hot-dog {
	@include icon(hot-dog);
}
.icon-hourglass {
	@include icon(hourglass);
}
.icon-house {
	@include icon(house);
}
.icon-icecream {
	@include icon(icecream);
}
.icon-id {
	@include icon(id);
}
.icon-inbox-alt {
	@include icon(inbox-alt);
}
.icon-inbox {
	@include icon(inbox);
}
.icon-infinite {
	@include icon(infinite);
}
.icon-information-alt {
	@include icon(information-alt);
}
.icon-information {
	@include icon(information);
}
.icon-instagram {
	@include icon(instagram);
}
.icon-key {
	@include icon(key);
}
.icon-keyboard {
	@include icon(keyboard);
}
.icon-leaf {
	@include icon(leaf);
}
.icon-lifesaver {
	@include icon(lifesaver);
}
.icon-lightbulb {
	@include icon(lightbulb);
}
.icon-lightning-bolt {
	@include icon(lightning-bolt);
}
.icon-line-back {
	@include icon(line-back);
}
.icon-link-alt {
	@include icon(link-alt);
}
.icon-link {
	@include icon(link);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-list-add {
	@include icon(list-add);
}
.icon-list-menu {
	@include icon(list-menu);
}
.icon-list {
	@include icon(list);
}
.icon-lock {
	@include icon(lock);
}
.icon-login {
	@include icon(login);
}
.icon-logout {
	@include icon(logout);
}
.icon-love-alt {
	@include icon(love-alt);
}
.icon-love {
	@include icon(love);
}
.icon-magic-wand {
	@include icon(magic-wand);
}
.icon-magnet {
	@include icon(magnet);
}
.icon-mail {
	@include icon(mail);
}
.icon-male {
	@include icon(male);
}
.icon-man {
	@include icon(man);
}
.icon-map location {
	@include icon(map location);
}
.icon-map-pin {
	@include icon(map-pin);
}
.icon-map {
	@include icon(map);
}
.icon-megaphone {
	@include icon(megaphone);
}
.icon-menu {
	@include icon(menu);
}
.icon-microphone {
	@include icon(microphone);
}
.icon-microscope {
	@include icon(microscope);
}
.icon-minus {
	@include icon(minus);
}
.icon-money-bag {
	@include icon(money-bag);
}
.icon-money-dollar {
	@include icon(money-dollar);
}
.icon-money-euro {
	@include icon(money-euro);
}
.icon-money-pound {
	@include icon(money-pound);
}
.icon-money {
	@include icon(money);
}
.icon-monies {
	@include icon(monies);
}
.icon-monitoring {
	@include icon(monitoring);
}
.icon-moon {
	@include icon(moon);
}
.icon-mouse {
	@include icon(mouse);
}
.icon-mug {
	@include icon(mug);
}
.icon-music-alt {
	@include icon(music-alt);
}
.icon-music {
	@include icon(music);
}
.icon-mustache-glasses {
	@include icon(mustache-glasses);
}
.icon-navigate {
	@include icon(navigate);
}
.icon-no-sign {
	@include icon(no-sign);
}
.icon-no-sound {
	@include icon(no-sound);
}
.icon-notebook {
	@include icon(notebook);
}
.icon-old-man {
	@include icon(old-man);
}
.icon-open-sign {
	@include icon(open-sign);
}
.icon-outbox {
	@include icon(outbox);
}
.icon-paint {
	@include icon(paint);
}
.icon-palm {
	@include icon(palm);
}
.icon-paper-layout {
	@include icon(paper-layout);
}
.icon-paper-lines {
	@include icon(paper-lines);
}
.icon-paper-plane {
	@include icon(paper-plane);
}
.icon-paper-tray {
	@include icon(paper-tray);
}
.icon-paper {
	@include icon(paper);
}
.icon-paragraph {
	@include icon(paragraph);
}
.icon-pen {
	@include icon(pen);
}
.icon-pencil {
	@include icon(pencil);
}
.icon-phone {
	@include icon(phone);
}
.icon-phone2 {
	@include icon(phone2);
}
.icon-picture-frame {
	@include icon(picture-frame);
}
.icon-picture {
	@include icon(picture);
}
.icon-pin {
	@include icon(pin);
}
.icon-pinterest {
	@include icon(pinterest);
}
.icon-pipe {
	@include icon(pipe);
}
.icon-plug {
	@include icon(plug);
}
.icon-plus {
	@include icon(plus);
}
.icon-podium {
	@include icon(podium);
}
.icon-power {
	@include icon(power);
}
.icon-printer {
	@include icon(printer);
}
.icon-protractor {
	@include icon(protractor);
}
.icon-question-alt {
	@include icon(question-alt);
}
.icon-question {
	@include icon(question);
}
.icon-radiation {
	@include icon(radiation);
}
.icon-radio {
	@include icon(radio);
}
.icon-rain {
	@include icon(rain);
}
.icon-record {
	@include icon(record);
}
.icon-refresh-alt {
	@include icon(refresh-alt);
}
.icon-refresh-alt2 {
	@include icon(refresh-alt2);
}
.icon-refresh {
	@include icon(refresh);
}
.icon-reply-all {
	@include icon(reply-all);
}
.icon-reply {
	@include icon(reply);
}
.icon-return {
	@include icon(return);
}
.icon-reverse {
	@include icon(reverse);
}
.icon-ribbon {
	@include icon(ribbon);
}
.icon-right-triangle {
	@include icon(right-triangle);
}
.icon-robot {
	@include icon(robot);
}
.icon-rocket {
	@include icon(rocket);
}
.icon-rss {
	@include icon(rss);
}
.icon-sad {
	@include icon(sad);
}
.icon-save {
	@include icon(save);
}
.icon-scales {
	@include icon(scales);
}
.icon-screen {
	@include icon(screen);
}
.icon-search {
	@include icon(search);
}
.icon-settings {
	@include icon(settings);
}
.icon-settings2 {
	@include icon(settings2);
}
.icon-share-alt {
	@include icon(share-alt);
}
.icon-share {
	@include icon(share);
}
.icon-sherrif {
	@include icon(sherrif);
}
.icon-shoe {
	@include icon(shoe);
}
.icon-shopping-bag {
	@include icon(shopping-bag);
}
.icon-shopping-cart {
	@include icon(shopping-cart);
}
.icon-shrink-alt {
	@include icon(shrink-alt);
}
.icon-shrink {
	@include icon(shrink);
}
.icon-shuffle {
	@include icon(shuffle);
}
.icon-sicssors {
	@include icon(sicssors);
}
.icon-sign {
	@include icon(sign);
}
.icon-signal {
	@include icon(signal);
}
.icon-skull {
	@include icon(skull);
}
.icon-skype {
	@include icon(skype);
}
.icon-smile {
	@include icon(smile);
}
.icon-snowflake {
	@include icon(snowflake);
}
.icon-soccer {
	@include icon(soccer);
}
.icon-soda {
	@include icon(soda);
}
.icon-sound-0 {
	@include icon(sound-0);
}
.icon-sound-1 {
	@include icon(sound-1);
}
.icon-sound-2 {
	@include icon(sound-2);
}
.icon-sound-3 {
	@include icon(sound-3);
}
.icon-speedometer {
	@include icon(speedometer);
}
.icon-square-add {
	@include icon(square-add);
}
.icon-square-cancel {
	@include icon(square-cancel);
}
.icon-square-minus {
	@include icon(square-minus);
}
.icon-square {
	@include icon(square);
}
.icon-star-alt {
	@include icon(star-alt);
}
.icon-star-medal {
	@include icon(star-medal);
}
.icon-star {
	@include icon(star);
}
.icon-status {
	@include icon(status);
}
.icon-stereo {
	@include icon(stereo);
}
.icon-strategy {
	@include icon(strategy);
}
.icon-suitcase-add {
	@include icon(suitcase-add);
}
.icon-suitcase-cancel {
	@include icon(suitcase-cancel);
}
.icon-suitcase {
	@include icon(suitcase);
}
.icon-sun {
	@include icon(sun);
}
.icon-syringe {
	@include icon(syringe);
}
.icon-tablet {
	@include icon(tablet);
}
.icon-tag-price {
	@include icon(tag-price);
}
.icon-tag-sale {
	@include icon(tag-sale);
}
.icon-task-checked {
	@include icon(task-checked);
}
.icon-terminal {
	@include icon(terminal);
}
.icon-termometer {
	@include icon(termometer);
}
.icon-thumb-down {
	@include icon(thumb-down);
}
.icon-thumb-up {
	@include icon(thumb-up);
}
.icon-ticket {
	@include icon(ticket);
}
.icon-time-machine {
	@include icon(time-machine);
}
.icon-tool {
	@include icon(tool);
}
.icon-tool2 {
	@include icon(tool2);
}
.icon-tools-alt {
	@include icon(tools-alt);
}
.icon-tools {
	@include icon(tools);
}
.icon-trash-can {
	@include icon(trash-can);
}
.icon-trashcan {
	@include icon(trashcan);
}
.icon-tray {
	@include icon(tray);
}
.icon-tree-alt {
	@include icon(tree-alt);
}
.icon-tree {
	@include icon(tree);
}
.icon-triangle-down {
	@include icon(triangle-down);
}
.icon-triangle-left {
	@include icon(triangle-left);
}
.icon-triangle-right {
	@include icon(triangle-right);
}
.icon-triangle-up-down {
	@include icon(triangle-up-down);
}
.icon-triangle-up {
	@include icon(triangle-up);
}
.icon-trophy {
	@include icon(trophy);
}
.icon-truck {
	@include icon(truck);
}
.icon-trumpet {
	@include icon(trumpet);
}
.icon-turkey-leg {
	@include icon(turkey-leg);
}
.icon-turkey {
	@include icon(turkey);
}
.icon-tv {
	@include icon(tv);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-two-way {
	@include icon(two-way);
}
.icon-umbrella {
	@include icon(umbrella);
}
.icon-union {
	@include icon(union);
}
.icon-unlock {
	@include icon(unlock);
}
.icon-upload {
	@include icon(upload);
}
.icon-user-add {
	@include icon(user-add);
}
.icon-user-avatar {
	@include icon(user-avatar);
}
.icon-user-book {
	@include icon(user-book);
}
.icon-user-business {
	@include icon(user-business);
}
.icon-user-delete {
	@include icon(user-delete);
}
.icon-user-favorite {
	@include icon(user-favorite);
}
.icon-user-head-attention {
	@include icon(user-head-attention);
}
.icon-user-head-idea {
	@include icon(user-head-idea);
}
.icon-user-head-question {
	@include icon(user-head-question);
}
.icon-user-head {
	@include icon(user-head);
}
.icon-user-list {
	@include icon(user-list);
}
.icon-user-next {
	@include icon(user-next);
}
.icon-users {
	@include icon(users);
}
.icon-vector {
	@include icon(vector);
}
.icon-video {
	@include icon(video);
}
.icon-vimeo {
	@include icon(vimeo);
}
.icon-water-drops {
	@include icon(water-drops);
}
.icon-water {
	@include icon(water);
}
.icon-web-cam {
	@include icon(web-cam);
}
.icon-wifi-alt {
	@include icon(wifi-alt);
}
.icon-wifi {
	@include icon(wifi);
}
.icon-window-alt {
	@include icon(window-alt);
}
.icon-window {
	@include icon(window);
}
.icon-windows {
	@include icon(windows);
}
.icon-wine {
	@include icon(wine);
}
.icon-woman {
	@include icon(woman);
}
.icon-world {
	@include icon(world);
}
.icon-yen {
	@include icon(yen);
}
.icon-yinyan {
	@include icon(yinyan);
}
.icon-zoom-in {
	@include icon(zoom-in);
}
.icon-zoom-out {
	@include icon(zoom-out);
}
